<?xml version="1.0"?>
<model>
    <name>Pioneer2dx with Gripper</name>
    <version>1.0</version>
    <sdf>pioneer_with_gripper.sdf</sdf>
    <author>
        <name>Vince Kurtz</name>
        <email>vjkurtz@gmail.com</email>
    </author>
    <description>
        A simple model of a Pioneer 2DX robot with a custom
        gripper and ROS control
    </description>
</model>
