<?xml version="1.0"?>
<model>
    <name>Custom P2dx Gripper</name>
    <version>1.0</version>
    <sdf>gripper.sdf</sdf>
    <author>
        <name>Vince Kurtz</name>
        <email>vjkurtz@gmail.com</email>
    </author>
    <description>
        A simple 2dof gripper for a model pioneer robot
    </description>
</model>
