<?xml version="1.0"?>
<model>
    <name>Pioneer 2DX Model with ROS Control</name>
    <version>1.0</version>
    <sdf version="1.4">pioneer2dx.sdf</sdf>
    <author>
        <name>Vince Kurtz</name>
        <email>vjkurtz@gmail.com</email>
    </author>
    <description>
        A simple model of a Pioneer 2DX robot
    </description>
</model>
