<launch>
    <!-- Create the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find itmp_demo)/worlds/test.world"/>
    </include>

    <!-- Import the robot model -->
    <node name="spawn_p2dx" pkg="gazebo_ros" type="spawn_model" args="-file $(find itmp_demo)/models/pioneer2dx.sdf -sdf -model pioneer2dx"/>

    <!-- Import the gripper model -->
    <!--<node name="spawn_gripper" pkg="gazebo_ros" type="spawn_model" args="-file $(find itmp_demo)/models/gripper.sdf -sdf -model gripper -x 1"/>-->
</launch>
